- All of the files should be located in the same directory
- Imported libraries are as follows:
	import pickle
	import math
	import copy
	from functools import reduce
	import random
	import json
	from ast import literal_eval
	from Board import Board
	import matplotlib.pyplot as plt



